

<a (click)="getSearchedRepo(u.repos_url)" class="btn btn-dark">Repositories {{u.public_repos}}</a>

<div *ngFor="let r of repo">
  <p>{{r.name}}</p>
  <!--div class="card text-white bg-success mb-3" style="max-width: 18rem;" >
    <div class="card-header">{{r.name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{r.language}}</h5>
      <p class="card-text">{{r.created_at}}</p>
      <a href="{{r.html_url}}" class="btn btn-warning">See on Github</a>
    </div>
</div-->
</div>

