
<div>
<a (click)="getSearchedRepo(u.repos_url)" class="btn btn-dark text-light">Repositories {{u.public_repos}}</a>
</div>

<div  *ngFor="let r of repo[0]; let i=index" id="works">
  <div class="card text-white bg-dark" style="max-width: 20rem;" >
    <div class="card-header">Project Name:  <span class="text-primary">{{r.name}}</span></div>
    <div class="card-body">
      <h5 class="card-title">Main language: <span class="text-warning">{{r.language}}</span></h5>
      <p class="card-text">Date created: <span class="text-info">{{r.created_at|date}}</span></p>
      <a href="{{r.html_url}}" class="btn btn-outline-success">See on Github</a>
    </div>
  </div>
</div>

