<ng-progress></ng-progress>
<app-navigation (searchEmmiter)="getSearchedUser($event)"></app-navigation>


<div class="container">
    <div class="card"  *ngFor="let u of user">
        <img src="{{u.avatar_url}}" class="card-img-top card_image " alt="...">
        <div class="card-body">
            <h1 class="card-title mx-auto">{{u.name}}</h1>
            <h3 class="card-title">{{u.login}}</h3>
            <h5 class="card-title">Created on {{u.created_at|date}}</h5>
            <div class="user_numbers">
                <a href="{{u.followers_url}}" class="btn btn-dark">Followers {{u.followers}}</a>
                <a href="{{u.following_url}}" class="btn btn-dark">Following {{u.following}}</a>
                <a href="{{u.repos_url}}" class="btn btn-dark">Repositories {{u.public_repos}}</a>
            </div>
            <div class="about_person">
                <h3>{{u.location}}</h3>
                <h3>{{u.bio}}</h3>
                <h3>{{u.company}}</h3>
                <a href="{{u.html_url}}" class="btn btn-secondary">See on Github</a>
            </div>
        </div>
      </div>
</div>
